body {
	background-image : url(background.png);
	background-size : cover;
	font-family : Comic Sans MS, Comic Sans, cursive;
	font-size:20;
	
}

h2{
	color: #FFFFFF;
	font-variant: small-caps;
}
LI{
	color: #FFFFFF;
	font-variant: small-caps;
}
div{
	color: #FFFFFF;
	font-variant: small-caps;
}